$bgColor: #171A27;
$cardColor: #2C3140;

#root {
  background-color: $bgColor;
}

.navBar {
  height: 80px;
  background-color: transparentize($color: $bgColor, $amount: 0);
  box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: .1);
  // backdrop-filter: blur(6px);
}

.sectionContainer {
  padding: 200px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workContainer {
  padding: 2rem;
  border-radius: 2px;
  background-color: $cardColor;
  box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: .1);
}

/* ~~ Project Card Layout ~~ */

.projectListContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectContainer.card {
  background-color: $cardColor;
  padding: 2rem;
  margin: 1rem;
}

.projectDetails {
  display: flex;
  align-items: center;
}

.projectImage {
  height: 300px;
  background-position: left;
  background-size: cover;
  background-color: $secondaryColor;

}